<h5 class="title-dark">categorías</h5>
<div class="slider-categories">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="btn-cate">
                Automoviles
            </div>
            <div class="btn-cate">
                Alimentos y bebidas
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="btn-cate">
                Hogar
            </div>
            <div class="btn-cate">
                Lenceria
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="btn-cate">
                Celulares y telefonía
            </div>
            <div class="btn-cate">
                Computación
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="btn-cate">
                Construcción
            </div>
            <div class="btn-cate">
                Animales y mascotas
            </div>
        </ng-template>
    </owl-carousel-o>
</div>