<div class="fadeIn">

    <div class="card fadeIn" *ngIf="!loading">
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel"> Datos del Plan</h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-4">
                    <label for="">Nombre:</label>
                    <p>{{userplan.name}}</p>
                </div>
                <div class="col-4">
                    <label for="">Inversion:</label>
                    <p>{{userplan.inversion}} $</p>
                </div>
                <div class="col-4">
                    <label for="">Ganancias al mes %:</label>
                    <p>{{userplan.profit}} %</p>
                </div>
                <div class="col-4">
                    <label for="">Ganancias al mes $:</label>
                    <p>{{userplan.minimum_charge}} $</p>
                </div>
                <div class="col-4">
                    <label for="">Mínimo de retiro:</label>
                    <p>{{userplan.minimum_charge}} $</p>
                </div>
                <div class="col-4">
                    <label for="">Duración:</label>
                    <p>{{userplan.duration}} <span *ngIf="userplan.duration == 1">mes</span> <span *ngIf="userplan.duration > 1">meses</span></p>
                </div>
                <div class="col-4">
                    <label for="">Publicación productos:</label>
                    <p>{{userplan.products}}</p>
                </div>
                <div class="col-4">
                    <label for="">Total ganancias:</label>
                    <p>{{userplan.total_profit}} $</p>
                </div>


            </div>
            <h6 class="text-danger">Detalles del pago</h6>
            <div class="row">
                <div class="col-4">
                    <label for="">Pago en $ USD</label>
                    <p class="text- m-0">
                        25 % = {{ userplan.pay_in_dollars }} $
                    </p>
                </div>
                <div class="col-4">
                    <label for="">Pago en bitcoins $ USD </label>
                    <p class="text- m-0">
                        75 % = {{ userplan.pay_in_btc }} $
                    </p>
                </div>
                <div class="col-4" *ngIf="userplan.license != 0">
                    <label for="">Licencia (Primera vez) </label>
                    <p class="text- m-0">
                        {{ userplan.license }} $
                    </p>
                </div>
                <div class="col-4" *ngIf="userplan.license != 0">
                    <label for="">Total a pagar </label>
                    <p class="text- m-0">
                        {{ userplan.total_pay }} $
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="sendToFather('showLoader');sendToFatherStep(5)" class="btn btn-primary float-end ml-2" type="button"> Siguiente <i class="fas fa-arrow-right"></i> </button>
            <button (click)="sendToFather('showLoader');sendToFatherStep(3)" class="btn btn-secondary float-end" type="button"> <i class="fas fa-arrow-left"></i> Atrás </button>
        </div>
    </div>
</div>