<app-navbar></app-navbar>
<div class="container">
    <h2 class="title">Saldo</h2>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h6 class="text-secondary m-0">Inversión</h6>
                    <h5 class="">300 $</h5>
                </div>
                <div class="col-4">
                    <h6 class="text-secondary m-0">Ganancias totales</h6>
                    <h5 class="">300 $</h5>
                </div>
                <div class="col-4">
                    <h6 class="text-secondary m-0">Saldo Disponible</h6>
                    <h5 class="">300 $</h5>
                </div>
            </div>
        </div>
    </div>
</div>