<app-loader *ngIf="loading">
</app-loader>
<div class="container-admin fadeIn">
    <div class="row mb-3">
        <div class="col-xs-12">
            <button (click)="openModalCreate()" type="button" class="btn btn-primary float-end"> <i class="fas fa-plus"></i> Nuevo</button>
            <h5 class="title-dark">Administrar / Planes</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-1" style="width: 165px;">
                <div class="card-body p-2">
                    <p class="m-0 font-600" for="" style="font-size: 12px;"> Licencia (Inscripción): </p>
                    <button (click)="openModalLicense()" class="btn btn-success float-end btn-xs"> <i class="fas fa-edit"></i> </button>
                    <p class="m-0"> {{license?.toString().replace('.',',')}} $</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="pb-3">
                        <table style="width: 100%;" datatable [dtOptions]="dtOptions" class="  table-hover table-bordered text-center"> </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREATE -->
<ng-template #modalCreate let-c="close" let-d="dismiss ">
    <app-create-plan *ngIf="formCreate" (sendToF)="receivedChild($event)"></app-create-plan>
</ng-template>
<!-- MODAL EDIT -->
<ng-template #modalEdit let-c="close" let-d="dismiss ">
    <app-edit-plan [data]="dataEdit" *ngIf="formEdit" (sendToF)="receivedChild($event)"></app-edit-plan>
</ng-template>
<!-- MODAL EDIT LICENSE -->
<ng-template #modalLicense let-c="close" let-d="dismiss ">
    <app-edit-lisence [data]="license" *ngIf="formLicense" (sendToF)="receivedChild($event)"></app-edit-lisence>
</ng-template>
<!-- MODAL DELETE -->
<ng-template #modalDelete let-c="close" let-d="dismiss ">
    <div class="modal-header bg-danger">
        <h5 class="modal-title text-white " id="modal-basic-title "> <i class="fas fa-exclamation"></i> Atención</h5>
        <button type="button " class="close " aria-label="Close " (click)="d( 'Cross click') ">
      <span aria-hidden="true ">×</span>
  </button>
    </div>
    <div class="modal-body ">
        <h6 class="text-danger">¿Está segur@ de eliminar este plan?</h6>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-secondary" (click)="d('cancel')">  Canelar</button>
        <button type="button " class="btn btn-primary" (click)="c('yes')">Aceptar</button>
    </div>
</ng-template>