.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}


/* .ngx-gallery-image {
    background-size: contain;
} */

.ngx-gallery-arrow-left {
    color: red !important;
    background: red !important;
}

ngx-gallery /deep/ .ngx-gallery-icon {
    color: rgba(255, 255, 255, 0.87);
    font-size: 30px;
    /* background-color: rgba(255, 255, 255, 0.11); */
    color: rgba(255, 0, 0, 0.404);
    background: rgba(255, 255, 255, 0.466);
    border-radius: 100%;
}

ngx-gallery /deep/ .ngx-gallery-icon:hover {
    color: rgba(255, 0, 0, 0.644);
}

@media (max-width:800px) {
    ngx-gallery /deep/ .ngx-gallery-icon {
        font-size: 25px;
    }
}