<app-navbar></app-navbar>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('assets/images/default/white.webp');background-repeat: no-repeat;background-size: cover;" data-bs-interval="7000">

            <div class="container" style="position: relative;height: 100%;">
                <div class="row" style="position: relative;height: 100%;width: 100%;margin: auto;">
                    <div class="col-md-6" *ngIf="innerWidth > 767">
                        <img id="chica-rojo" class="wow animate__fadeIn" data-wow-duration="2.5s" src="assets\images\default\chica-rojo-dinero.png" alt="">
                    </div>
                    <div class="col-md-6" style="display: flex;align-items: center;justify-content: center;">
                        <div class="container-text  text-center" style="margin: auto;">
                            <img id="dinero" src="assets\images\default\lluvia-dolares.png" class="wow animate__fadeInDown" data-wow-duration="2s" alt="">
                            <h1 class="title-slide text-center wow animate__fadeInRight " data-wow-duration="2s"> Invierte tu <span class="text-danger">dinero</span> y <span class="text-danger">duplicalo</span> </h1>
                            <br>
                            <h5 class="subtitle-slide text-center wow animate__fadeInRight" data-wow-duration="2s"> Solo tienes que abonar y podrás ganar desde 5 % de inversión al mes. </h5>
                            <br>
                            <button routerLink="/planes" type="button" class="btn btn-primary btn-lg wow animate__fadeInRight" data-wow-duration="2s"> <i class="fas fa-list-check"></i> Planes</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div data-bs-interval="7000" class="carousel-item" style="background-image: url('assets/images/default/white.webp');background-repeat: no-repeat;background-size: cover;">

            <div class="container" style="position: relative;height: 100%;">

                <div class="row " style="height: 100%;">
                    <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
                        <div class=" px-3" x>
                            <div *ngIf="innerWidth < 767" class="col-md-6" style="position: relative;">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <img id="maleta-sm" src="assets\images\default\slider-products\maleta.png" class="wow animate__fadeIn" data-wow-duration="2s" alt="">
                                        <img id="balon-sm" src="assets\images\default\slider-products\balon.png" class="wow animate__fadeIn" data-wow-duration="2.5s" alt="">
                                    </div>
                                    <div class="col-6 text-center">
                                        <img id="laptop-sm" src="assets\images\default\slider-products\laptop.png" class="wow animate__fadeIn" data-wow-duration="3s" alt="">
                                        <img id="chaqueta-sm" src="assets\images\default\slider-products\chaqueta.png" class="wow animate__fadeIn" data-wow-duration="4s" alt="">
                                    </div>

                                </div>

                            </div>
                            <br>
                            <h1 class="title-slide text-center wow animate__zoomIn" data-wow-duration="1.5s"> <span class="text-danger">Publica </span> o <span class="text-danger">encuentra</span> gran variedad de <span class="text-danger">productos</span> </h1>
                            <br>

                            <br>
                        </div>
                    </div>
                    <div *ngIf="innerWidth > 767" class="col-md-6" style="position: relative;">
                        <img id="maleta" src="assets\images\default\slider-products\maleta.png" class="wow animate__fadeInUp" data-wow-duration="2s" alt="">
                        <img id="balon" src="assets\images\default\slider-products\balon.png" class="wow animate__fadeInRight" data-wow-duration="2s" alt="">
                        <img id="laptop" src="assets\images\default\slider-products\laptop.png" class="wow animate__fadeInLeft" data-wow-duration="2s" alt="">
                        <img id="chaqueta" src="assets\images\default\slider-products\chaqueta.png" class="wow animate__fadeInDown" data-wow-duration="2s" alt="">
                    </div>
                </div>

            </div>

        </div>

    </div>
    <button class="carousel-control-prev text-secondary" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" style="background-:red" aria-hidden="true"></span> -->
            <h3> <i class="fas fa-chevron-left"></i></h3>
          <span class="visually-hidden">Previo</span>
        </button>
    <button class="carousel-control-next text-secondary" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <h3> <i class="fas fa-chevron-right"></i></h3>
          <span class="visually-hidden">Sig.</span>
        </button>
</div>



<div class="container">
    <br>

    <app-slider-categories></app-slider-categories>
    <br>
    <app-slider-products-recent></app-slider-products-recent>
    <br>

    <app-footer></app-footer>