.slide {
    margin-top: -24px !important;
}

.carousel-item .img-bg {
    object-fit: cover;
    height: 100%;
    position: absolute;
}

.carousel-item {
    border-bottom: 2px rgb(221, 221, 221) solid;
    height: 500px;
    overflow: hidden;
}

#dinero {
    width: 35%;
}

#chica-rojo {
    position: absolute;
    bottom: 0;
    height: 100%;
    /* height: 100%; */
    z-index: 99999;
}

.container-text {
    width: 90%;
}

.title-slide {
    color: rgb(59, 59, 59);
    font-family: 'Osswald' !important;
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 14px 14px 1px rgba(0, 0, 0, 0.096);
    font-weight: 500;
}

.subtitle-slide {
    font-family: 'Osswald' !important;
    /* text-shadow: 14px 14px 1px rgba(0, 0, 0, 0.096); */
}


/* products */

#maleta {
    width: 50%;
    position: absolute;
    right: 15%;
    bottom: 5%;
}

#balon {
    width: 17%;
    position: absolute;
    right: 30%;
    top: 10%;
}

#laptop {
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: -4%;
}

#chaqueta {
    width: 40%;
    position: absolute;
    left: 0;
    top: 5%;
}


/* CATEGORIAS */

#maleta-sm {
    width: 70%;
}

#balon-sm {
    width: 25%;
    margin-left: -20px;
}

#laptop-sm {
    width: 40%;
}

#chaqueta-sm {
    width: 50%;
}

@media(max-width:1024px) {
    .title-slide {
        font-size: 32px;
    }
    .carousel-item {
        height: 400px !important;
    }
}

@media(max-width:767px) {
    .title-slide {
        font-size: 25px;
    }
    .subtitle-slide {
        font-size: 16px;
    }
    .container-chica-rojo {
        display: none;
    }
    .btn-lg {
        font-size: 16px;
    }
}

@media(max-width:500px) {
    #dinero {
        width: 130px;
    }
    #maleta-sm {
        width: 90%;
        margin-top: 20px;
    }
    #balon-sm {
        width: 45%;
        margin-left: 0px;
        margin-top: 20px;
    }
    #laptop-sm {
        width: 60%;
        margin-top: 20px;
    }
    #chaqueta-sm {
        width: 70%;
        margin-top: 20px;
    }
}

@media(max-width:320px) {
    #dinero {
        width: 130px;
    }
    #maleta-sm {
        width: 100%;
        margin-top: 20px;
    }
    #balon-sm {
        width: 55%;
        margin-left: 0px;
        margin-top: 20px;
    }
    #laptop-sm {
        width: 70%;
        margin-top: 20px;
    }
    #chaqueta-sm {
        width: 80%;
        margin-top: 20px;
    }
}