<form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()" autocomplete="off">
    <div class="modal-header" ngbAutofocus>
        <h5 class="modal-title" id="exampleModalLabel"> Crear Cartera</h5>
        <button (click)="sendToFather('hideModal')" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">

            <!-- Input Field Starts -->
            <div class="form-group col-md-6  ">
                <label for="">Nombre</label>
                <input maxlength="30" formControlName="name" class="form-control" name="alias" placeholder="" type="text" />
                <label *ngIf="validate('name').valid " class="text-danger "> {{validate('name').error }} </label>
            </div>

            <!-- Input Field Starts -->
            <div class="form-group col-md-6 ">
                <label for="">Dirección de cartera</label>
                <input maxlength="100" formControlName="address" class="form-control" placeholder="" type="text" />
                <label *ngIf="validate('address').valid " class="text-danger "> {{validate('address').error }} </label>
            </div>

            <!-- <div class="form-group col-md-6 ">
                <label for="">Nombre Moneda</label>
                <input maxlength="30" formControlName="coin" class="form-control" type="text" />
                <label *ngIf="validate('coin').valid " class="text-danger "> {{validate('coin').error }} </label>
            </div> -->
            <div class="form-group col-md-6 ">
                <label for="">Enlace / url (Opcional)</label>
                <input maxlength="200" formControlName="link" class="form-control" type="text" />

                <label *ngIf="validate('link').valid " class="text-danger "> {{validate('link').error }} </label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="sendToFather('hideModal')"> Cancelar </button>
        <button class="btn btn-primary" type="submit"> Guardar </button>
    </div>

    <!-- Submit Form Button Ends -->
</form>