<h5 class="title-dark">categorías</h5>
<div class="slider-products" style="position: relative;">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="card card-post m-2" routerLink="/detalles-publicacion/refrigeradora-lg">
                <div class="card-header">
                    <i class="fas fa-heart"></i>
                    <img src="assets\images\posts\test\Nevera\8.webp" alt="">
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-0 float-end"> <span class="">$</span> 800</h4>
                        </div>
                    </div>
                    <p class="text-danger title-post">Refrigeradora LG Inverter Cromada 6261lts</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-post m-2" routerLink="/detalles-publicacion/zapatos-coverse-diversas-tallas-y-colores">
                <div class="card-header">
                    <i class="fas fa-heart"></i>
                    <img src="assets/images/posts/test/zapatos/z3.webp" alt="">
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-0 float-end"> <span class="">$</span> 100</h4>
                        </div>
                    </div>
                    <p class="text-danger title-post">Zapatos coverse diversas tallas y colores</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-post m-2" routerLink="/detalles-publicacion/flamante-captiva-sport-2016">
                <div class="card-header">
                    <i class="fas fa-heart"></i>
                    <img src="assets/images/posts/test/camioneta/1.webp" alt="">
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-0 float-end"> <span class="">$</span> 17.700</h4>
                        </div>
                    </div>
                    <p class="text-danger title-post">Flamante Captiva Sport V6 3.0 Año 2016</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-post m-2" routerLink="/detalles-publicacion/fpc-audífonos-logitech-g435">
                <div class="card-header">
                    <i class="fas fa-heart"></i>
                    <img src="assets/images/posts/test/audifonos/4.webp" alt="">
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-0 float-end"> <span class="">$</span> 99
                            </h4>
                        </div>
                    </div>
                    <p class="text-danger title-post">Fpc Audífonos Con Micrófono Logitech G435</p>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>