<p> <span class="font-600 text-danger">Paso 5:</span> Selecciona las cuentas a donde realizara el pago del plan</p>

<div class="card">
    <form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()" autocomplete="off">
        <div class="card-header" ngbAutofocus>
            <h5 class="modal-title" id="exampleModalLabel">Cuentas Pagos</h5>
        </div>
        <div class="card-body">

            <div class=" form-group" style="max-width: 200px;">
                <label for=" ">Cuenta Bancaria (25 %)</label>
                <input placeholder="Mínimo {{userplan.cost}} $" type="text" formControlName="inversion" class="form-control">
                <label *ngIf="validate( 'inversion').valid " class="text-danger "> {{validate('inversion').error}} </label>
            </div>
            <hr>
            <div class=" form-group" style="max-width: 200px;">
                <label for=" ">Cartera Bitcoins (75%)</label>
                <input placeholder="Mínimo {{userplan.cost}} $" type="text" formControlName="inversion" class="form-control">
                <label *ngIf="validate( 'inversion').valid " class="text-danger "> {{validate('inversion').error}} </label>
            </div>
            <!-- state_id city_id address -->
        </div>
        <div class="card-footer">
            <button class="btn btn-primary float-end ml-2" type="submit"> Siguiente <i class="fas fa-arrow-right"></i> </button>
            <button (click)="sendToFather('showLoader');sendToFatherStep(2)" class="btn btn-secondary float-end" type="button"> <i class="fas fa-arrow-left"></i> Atrás </button>
        </div>
        <!-- Submit Form Button Ends -->
    </form>
</div>