.navbar-p {
    /* background: linear-gradient(to bottom, var(--red-l), var(--red)); */
    background: linear-gradient(to bottom, white, rgb(241, 241, 241));
    height: 51px;
    border-bottom: solid 2px rgba(128, 128, 128, 0.281) !important;
}

.navbar-p .section-1 {
    position: relative;
    width: 20%;
    height: 50px;
    display: inline-block;
    /* border: solid 1px white; */
}

.content-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-right {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-p .section-2 {
    position: relative;
    width: 50%;
    height: 50px;
    display: inline-block;
    /* border: solid 1px white; */
}

.navbar-p .section-3 {
    position: relative;
    width: 30%;
    height: 50px;
    display: inline-block;
    /* border: solid 1px white; */
}

.logo {
    height: 65%;
    border: 1px solid white;
}

.navbar-p a {
    padding: 6px 8px 6px 8px;
    /* color: rgb(252, 61, 61); */
    color: var(--red);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Lato';
    font-weight: 600;
    letter-spacing: 0.05em;
    /* text-shadow: 2px 2px var(--red-shadow); */
}

.navbar-p a:hover {
    background: var(--red);
    color: white;
    cursor: pointer;
}

@media(max-width:767px) {
    .navbar-p .section-1 {
        width: 40%;
    }
    .navbar-p .section-2 {
        width: 0%;
    }
    .navbar-p .section-3 {
        width: 60%;
    }
}

@media(max-width:500px) {
    .navbar-p {
        height: 40px;
    }
    .navbar-p .section-1 {
        height: 39px;
    }
    .navbar-p .section-2 {
        height: 39px;
    }
    .navbar-p .section-3 {
        height: 39px;
    }
}

@media(max-width:380px) {
    .logo {
        height: 50%;
    }
}