<form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()" autocomplete="off">
    <div class="modal-header" ngbAutofocus>
        <h5 class="modal-title" id="exampleModalLabel"> Editar Plan</h5>
        <button (click)="sendToFather('hideModal')" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">

            <!-- Input Field Starts -->
            <div class="form-group col-md-6  ">
                <label for="">Nombre</label>
                <input maxlength="20" formControlName="name" class="form-control" name="alias" placeholder="" type="text" />
                <label *ngIf="validate('name').valid " class="text-danger "> {{validate('name').error }} </label>
            </div>

            <!-- Input Field Starts -->
            <div class="form-group col-md-6 ">
                <label for="">Valor mínimo</label>
                <input maxlength="15" formControlName="cost" class="form-control" placeholder="" type="text" />
                <label *ngIf="validate('cost').valid " class="text-danger "> {{validate('cost').error }} </label>
            </div>

            <div class="form-group col-md-6 ">
                <label for="">Ganancia (%) mensual</label>
                <input formControlName="profit" class="form-control" type="text" />
                <label *ngIf="validate('profit').valid " class="text-danger "> {{validate('profit').error }} </label>
            </div>
            <div class="form-group col-md-6 ">
                <label for="">Duración (meses)</label>
                <input maxlength="3" formControlName="duration" class="form-control" type="text" />

                <label *ngIf="validate('duration').valid " class="text-danger "> {{validate('duration').error }} </label>
            </div>
            <!-- <div class="form-group col-md-6 ">
                <label for="">Limite de cobro ($)</label>
                <input maxlength="15" formControlName="charge_limit" class="form-control" placeholder="" type="text" />
                <label *ngIf="validate('charge_limit').valid " class="text-danger "> {{validate('charge_limit').error }} </label>
            </div> -->
            <div class="form-group col-md-6 ">
                <label for="">Límite productos</label>
                <input maxlength="10" formControlName="products" class="form-control" type="text" />
                <label *ngIf="validate('products').valid " class="text-danger "> {{validate('products').error }} </label>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="sendToFather('hideModal')"> Cancelar </button>
        <button class="btn btn-primary" type="submit"> Guardar </button>
    </div>

    <!-- Submit Form Button Ends -->
</form>